@import "tailwindcss";

@theme {
  /* Color */
  --color-background: #1e2939;
  --color-primary-green: #00dd03;
}

/* Hero */
.hero {
  @apply relative flex flex-col justify-center items-center h-full w-full rounded-2xl bg-black bg-[url(./assets/img/laptops.webp)] bg-contain bg-no-repeat bg-center container mx-auto;
}

#carrerText {
  animation: writing 5s steps(22, end) infinite, flashing .6s ease-in-out infinite;
}

@keyframes flashing {
  50% {
    border-right-color: transparent;
  }
}
/* Hero - End */

/* Header */
.nav__link {
  @apply text-white
}

.nav__link.active {
  
}
/* Header - End */
