@import "tailwindcss";

@theme {
  /* Color */
  --color-background: #1e2939;
  --color-primary-green: #00dd03;
  --color-secundary-green: #0c5e00;
  --color-primary-gray: #919191;

  /* Animation */
  --animate-scroll: scroll 16s linear infinite;

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-71.5%);
    }
  }
}

/* Variables */
.gradient--green {
  @apply bg-gradient-to-r from-primary-green to-green-600;
}
/* Variables - End */

/* Hero */
.hero {
  @apply relative flex flex-col justify-center items-center h-full w-full rounded-2xl bg-black bg-[url(./assets/img/laptops.webp)] bg-contain bg-no-repeat bg-center container mx-auto;
}

#carrerText {
  animation: writing 5s steps(22, end) infinite,
    flashing 0.6s ease-in-out infinite;
}

@keyframes flashing {
  50% {
    border-right-color: transparent;
  }
}
/* Hero - End */

/* Header */
.nav__link {
  @apply text-white px-5 py-2 rounded-full hover:bg-secundary-green duration-300;
}

.nav__link.active {
  @apply bg-primary-green;
}
/* Header - End */

/* Slider */
.slider__icons:hover {
  animation-play-state: paused;
}
/* Slider - End */
