@import "tailwindcss";

@theme {
  /* Color */
  --color-dark-blue: #1e2939;
  --color-primary-green: #00dd03;
  --color-secundary-green: #0c5e00;
  --color-primary-gray: #919191;

  /* Animation */
  --animate-scroll: scroll 16s linear infinite;

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-71.5%);
    }
  }
}

/* Variables */
.gradient--green {
  @apply from-primary-green bg-gradient-to-r to-green-600;
}

.section {
  @apply flex items-center justify-center p-5;
}
/* Variables - End */

/* Hero */
.hero {
  @apply relative container mx-auto flex h-full w-full flex-col items-center justify-center rounded-2xl bg-black/65 bg-[url(./assets/img/laptops.webp)] bg-contain bg-center bg-no-repeat backdrop-blur-xl;

  clip-path: polygon(
    0% 0%,

    41.5% 0,
    41.7% 0.5px,
    41.9% 1px,
    42.1% 3px,
    42.3% 6px,
    42.5% 11px,

    42.5% 53px,
    43% 60px,
    43.5% 63px,

    56.5% 63px,
    57% 60px,
    57.5% 53px,

    57.5% 11px,
    57.7% 6px,
    57.9% 3px,
    58.1% 1px,
    58.3% 0.5px,
    58.5% 0,

    100% 0%,
    100% 100%,
    0% 100%
  );
}

#carrerText {
  animation:
    writing 5.2s steps(22, end) infinite,
    flashing 0.7s ease-in-out infinite;
}

@keyframes flashing {
  50% {
    border-right-color: transparent;
  }
}
/* Hero - End */

/* Header */
.nav__link {
  @apply border-primary-green after:bg-primary-green relative border-b-0 pb-1 text-lg font-semibold text-white after:absolute after:bottom-0 after:left-0 after:h-1 after:w-0 after:rounded-full after:duration-500 hover:after:w-[40%];

  &.active {
    @apply after:w-full;
  }
}
/* Header - End */

/* Slider */
.slider__icons:hover {
  animation-play-state: paused;
}
/* Slider - End */

/* Projects */
canvas {
  @apply absolute top-0 left-0;
}

#grid-canvas {
  @apply z-0;
}

#letters-canvas {
  @apply z-[1];
}

.letter {
  @apply text-primary-green pointer-events-none absolute z-[2] origin-center text-[11.5rem] font-bold will-change-transform transform-3d;
}
/* Projects -End */
